---
title: Changelog
description: User visible changes in phpMyFAQ releases since 2001 until today
canonical: changelog
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="changelog section">
  <div class="container">
    <h1>{{page.title}}</h1>

    <h2>
      phpMyFAQ 4.1.x
    </h2>

    <h3>
      <a id="4.1.0-alpha"></a>
      phpMyFAQ 4.1.0-alpha - 2025-02-12
    </h3>
    <ul dir="auto">
      <li>changed PHP requirement to PHP 8.3 or later</li>
      <li>added configuration to edit robots.txt</li>
      <li>added Symfony Routing for administration backend</li>
      <li>added code snippets plugin with syntax highlighting in WYSIWYG editor</li>
      <li>added administration view for orphaned FAQs</li>
      <li>added plugin administration backend</li>
      <li>added image upload and image manager in the Markdown editor</li>
      <li>added experimental support for PDO</li>
      <li>added possibility to enable/disable admin session counter</li>
      <li>added Urdu translation</li>
      <li>added experimental support for OpenSearch</li>
      <li>improved online update feature</li>
      <li>updated Spanish translation</li>
      <li>updated Japanese translation</li>
      <li>updated to PHPUnit v12</li>
      <li>migrated codebase to use PHP 8.3 language features</li>
      <li>migrated from WYSIWYG editor from TinyMCE to Jodit Editor</li>
      <li>migrated from JavaScript to TypeScript</li>
      <li>migrated from Webpack to Vite v6</li>
      <li>migrated from Jest to Vitest v3</li>
    </ul>

    <h2>
      phpMyFAQ 4.0.x
    </h2>

    <h3>
      <a id="4.0.10"></a>
      phpMyFAQ 4.0.10 - 2025-08-02
    </h3>
    <ul dir="auto">
      <li>updated third party dependencies</li>
      <li>fixed bugs</li>
    </ul>

    <h3>
      <a id="4.0.9"></a>
      phpMyFAQ 4.0.9 - 2025-07-06
    </h3>
    <ul dir="auto">
      <li>updated third party dependencies</li>
      <li>fixed bugs</li>
    </ul>

    <h3>
      <a id="4.0.8"></a>
      phpMyFAQ 4.0.8 - 2025-05-10
    </h3>
    <ul dir="auto">
      <li>updated third party dependencies</li>
      <li>fixed bugs</li>
    </ul>

    <h3>
      <a id="4.0.7"></a>
      phpMyFAQ 4.0.7 - 2025-03-24
    </h3>
    <ul dir="auto">
      <li>updated third party dependencies</li>
      <li>fixed bugs</li>
    </ul>

    <h3>
      <a id="4.0.6"></a>
      phpMyFAQ 4.0.6 - 2025-02-23
    </h3>
    <ul dir="auto">
      <li>updated French translation</li>
      <li>updated third party dependencies</li>
      <li>fixed bugs</li>
    </ul>

    <h3>
      <a id="4.0.5"></a>
      phpMyFAQ 4.0.5 - 2025-01-19
    </h3>
    <ul dir="auto">
      <li>updated Hellenic translation</li>
      <li>updated third party dependencies</li>
      <li>fixed bugs</li>
    </ul>

    <h3>
      <a id="4.0.4"></a>
      phpMyFAQ 4.0.4 - 2025-01-09
    </h3>
    <ul dir="auto">
      <li>improved update from v3</li>
      <li>updated third party dependencies</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="4.0.3"></a>
      phpMyFAQ 4.0.3 - 2025-01-03
    </h3>
    <ul dir="auto">
      <li>fixed installation bug introduced with v4.0.2</li>
      <li>fixed minor bug</li>
    </ul>

    <h3>
      <a id="4.0.2"></a>
      phpMyFAQ 4.0.2 - 2025-01-02
    </h3>
    <ul dir="auto">
      <li>fixed security vulnerability</li>
      <li>improved update handling of .htaccess file</li>
      <li>updated third party dependencies</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="4.0.1"></a>
      phpMyFAQ 4.0.1 - 2024-12-13
    </h3>
    <ul dir="auto">
      <li>fixed security vulnerability</li>
      <li>improved update handling of .htaccess file</li>
      <li>updated 3rd party dependencies</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="4.0.0"></a>
      phpMyFAQ 4.0.0 - 2024-12-06
    </h3>
    <ul dir="auto">
      <li>changed PHP requirement to PHP 8.2 or later</li>
      <li>changed rewrite rules for Apache and nginx as mandatory requirement</li>
      <li>changed folder structure</li>
      <li>added Twig as new template engine</li>
      <li>added Symfony Routing</li>
      <li>added trending FAQs</li>
      <li>added new frontend layout</li>
      <li>added new admin configuration frontend</li>
      <li>added new admin category management frontend with full drag and drop sorting support</li>
      <li>added new admin FAQ management frontend</li>
      <li>added possibility to sort sticky FAQs</li>
      <li>added possibility to enable/disable cookie consent</li>
      <li>added experimental online update feature</li>
      <li>added new REST API v3 with OpenAPI specification</li>
      <li>added Kubernetes manifest samples</li>
      <li>added experimental import of FAQs from CSV</li>
      <li>added CSV export of user sessions</li>
      <li>added possibility to add custom CSS via admin frontend</li>
      <li>added experimental plugin manager</li>
      <li>added support for PHP 8.4</li>
      <li>added "share with" feature</li>
      <li>added basic support for Rich Snippets</li>
      <li>added experimental support for WebAuthn / Passkeys</li>
      <li>improved installation and update</li>
      <li>improved SEO support</li>
      <li>improved session timout warning for admins</li>
      <li>removed Twitter/X support</li>
      <li>removed support for adding own meta-content in templates</li>
      <li>removed REST API v2</li>
      <li>removed "send to friend" feature</li>
      <li>migrated from Yarn to PNPM</li>
      <li>migrated from Fork Awesome to Bootstrap Icons</li>
      <li>migrated codebase to use PHP 8.2 language features</li>
      <li>updated to PHPUnit v11</li>
      <li>updated Polish translation</li>
      <li>updated French translation</li>
    </ul>

    <h2>
      phpMyFAQ 3.2.x
    </h2>

    <h3>
      <a id="3.2.10"></a>
      phpMyFAQ 3.2.10 - 2024-11-09
    </h3>
    <ul>
      <li>updated bundled dependencies</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.2.9"></a>
      phpMyFAQ 3.2.9 - 2024-07-23
    </h3>
    <ul>
      <li>fixed bugs introduced with v3.2.8</li>
    </ul>

    <h3>
      <a id="3.2.8"></a>
      phpMyFAQ 3.2.8 - 2024-07-21
    </h3>
    <ul>
      <li>fixed security vulnerability</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.2.7"></a>
      phpMyFAQ 3.2.7 - 2024-06-07
    </h3>
    <ul>
      <li>updated and improved cookie consent</li>
      <li>updated bundled dependencies</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.2.6"></a>
      phpMyFAQ 3.2.6 - 2024-03-25
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>updated bundled dependencies</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.2.5"></a>
      phpMyFAQ 3.2.5 - 2024-02-05
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>updated bundled dependencies</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.2.4"></a>
      phpMyFAQ 3.2.4 - 2024-01-10
    </h3>
    <ul>
      <li>updated bundled dependencies</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.2.3"></a>
      phpMyFAQ 3.2.3 - 2023-11-24
    </h3>
    <ul>
      <li>added support for PHP 8.3</li>
      <li>updated bundled dependencies</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.2.2"></a>
      phpMyFAQ 3.2.2 - 2023-10-27
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>re-added fullscreen plugin for TinyMCE</li>
      <li>updated bundled dependencies</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.2.1"></a>
      phpMyFAQ 3.2.1 - 2023-09-21
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.2.0"></a>
      phpMyFAQ 3.2.0 - 2023-09-04
      (Codename: <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Pontus_(mythology)">Pontus</a>)
    </h3>
    <ul>
      <li>changed PHP requirement to PHP 8.1.0 or later</li>
      <li>changed to HTTPS as new default</li>
      <li>changed MariaDB / MySQL / Percona Server / Galera Cluster to InnoDB only</li>
      <li>changed MariaDB requirement to 10.0</li>
      <li>changed MySQL / Percona Server / Galera Cluster requirement to 8.0 or later</li>
      <li>changed PostgreSQL requirement to 10.0 or later</li>
      <li>changed MS SQL Server requirement to 2016 or later</li>
      <li>added support for PHP 8.2</li>
      <li>added 2FA (Two Factor Authentication)</li>
      <li>added experimental Azure AD login</li>
      <li>added option to use Google ReCaptcha</li>
      <li>added REST API v2.2 to fetch groups, add categories, and update FAQs</li>
      <li>added verification of backup files</li>
      <li>added option to disable questions and notifications</li>
      <li>added new options for more flexibility</li>
      <li>added new mobile first, touch-friendly default layout</li>
      <li>added HTTPS support for local Docker development</li>
      <li>added Symfony HttpFoundation</li>
      <li>added Monolog v3 as logging solution</li>
      <li>removed experimental large permissions support with sections</li>
      <li>removed broken link verification</li>
      <li>removed translation frontend for users</li>
      <li>migrated from SwiftMailer to Symfony Mailer</li>
      <li>migrated codebase to use PHP 8.1 language features</li>
      <li>updated to Bootstrap v5.3</li>
      <li>updated to TinyMCE v6.7</li>
      <li>updated to PHPUnit v10</li>
      <li>updated Japanese translation</li>
      <li>updated Dutch translation</li>
    </ul>

    <h2>
      phpMyFAQ 3.1.x
    </h2>

    <h3>
      <a id="3.1.18"></a>
      phpMyFAQ 3.1.18 - 2023-09-21
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.17"></a>
      phpMyFAQ 3.1.17 - 2023-08-27
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.16"></a>
      phpMyFAQ 3.1.16 - 2023-07-16
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.15"></a>
      phpMyFAQ 3.1.15 - 2023-06-17
    </h3>
    <ul>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.14"></a>
      phpMyFAQ 3.1.14 - 2023-05-17
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>updated bundled dependencies</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.13"></a>
      phpMyFAQ 3.1.13 - 2023-04-23
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.12"></a>
      phpMyFAQ 3.1.12 - 2023-03-20
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.11"></a>
      phpMyFAQ 3.1.11 - 2023-02-12
    </h3>
    <ul>
      <li>Happy 22nd Birthday, phpMyFAQ!</li>
      <li>fixed multiple vulnerabilities</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.10"></a>
      phpMyFAQ 3.1.10 - 2023-01-15
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.9"></a>
      phpMyFAQ 3.1.9 - 2022-12-11
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>fixed minor bugs</li>
      <li>updated bundled dependencies</li>
    </ul>

    <h3>
      <a id="3.1.8"></a>
      phpMyFAQ 3.1.8 - 2022-10-24
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.7"></a>
      phpMyFAQ 3.1.7 - 2022-10-02
    </h3>
    <ul>
      <li>fixed CSRF vulnerability</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.6"></a>
      phpMyFAQ 3.1.6 - 2022-07-23
    </h3>
    <ul>
      <li>fixed XSS vulnerability</li>
      <li>fixed dismiss error for cookie consent</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.5"></a>
      phpMyFAQ 3.1.5 - 2022-06-27
    </h3>
    <ul>
      <li>added compatibility with Elasticsearch v8+</li>
      <li>added trust of self-signed certificates with MS SQL</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.4"></a>
      phpMyFAQ 3.1.4 - 2022-04-25
    </h3>
    <ul>
      <li>fixed missing assets</li>
    </ul>

    <h3>
      <a id="3.1.3"></a>
      phpMyFAQ 3.1.3 - 2022-04-24
    </h3>
    <ul>
      <li>fixed login via LDAP</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.1.2"></a>
      phpMyFAQ 3.1.2 - 2022-03-16
    </h3>
    <ul>
      <li>fixed minor bugs</li>
      <li>updated bundled dependencies</li>
    </ul>

    <h3>
      <a id="3.1.1"></a>
      phpMyFAQ 3.1.1 - 2022-02-14
    </h3>
    <ul>
      <li>fixed enabled debug mode</li>
      <li>updated bundled dependencies</li>
    </ul>

    <h3>
      <a id="3.1.0"></a>
      phpMyFAQ 3.1.0 - 2022-02-12
      (Codename: <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Poseidon">Poseidon</a>)
    </h3>
    <ul>
      <li>Happy 21st Birthday, phpMyFAQ!</li>
      <li>changed PHP requirement to PHP 7.4+</li>
      <li>added support for PHP 8.0 and PHP 8.1</li>
      <li>added support for Elasticsearch v6+</li>
      <li>added drag and drop sorting for main categories</li>
      <li>added possibility to add users without a password</li>
      <li>added export of all users as CSV</li>
      <li>added ChartJS as new charting library</li>
      <li>added REST API v2.1 to register users and add FAQs</li>
      <li>added API client tokens for REST API v2.1</li>
      <li>added opt-in for displaying user data</li>
      <li>added mail notifications for new FAQs in admin section</li>
      <li>added possibility to login via email address</li>
      <li>updated to Composer v2 and improved build</li>
      <li>improved install and update scripts</li>
      <li>removed REST API v1</li>
      <li>removed RSS support</li>
      <li>removed rewrite support for IIS</li>
      <li>removed password hashing with MD5 and SHA-1</li>
      <li>removed OpenSearch support</li>
      <li>removed Travis CI build, switched to Github Actions</li>
      <li>fixed minor bugs</li>
    </ul>

    <h2>
      phpMyFAQ 3.0.x
    </h2>

    <h3>
      <a id="3.0.12"></a>
      phpMyFAQ 3.0.12 - 2022-01-22
    </h3>
    <ul>
      <li>fixed broken LDAP authentication</li>
      <li>updated bundled dependencies</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.0.11"></a>
      phpMyFAQ 3.0.11 - 2022-01-18
    </h3>
    <ul>
      <li>fixed enabled debug mode</li>
      <li>updated bundled dependencies</li>
    </ul>

    <h3>
      <a id="3.0.10"></a>
      phpMyFAQ 3.0.10 - 2022-01-17
    </h3>
    <ul>
      <li>fixed multiple XSS and CSRF vulnerabilities (<a href="/security/advisory-2022-01-17">advisory</a>)</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.0.9"></a>
      phpMyFAQ 3.0.9 - 2021-04-17
    </h3>
    <ul>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.0.8"></a>
      phpMyFAQ 3.0.8 - 2021-02-24
    </h3>
    <ul>
      <li>updated to Bootstrap v4.6</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.0.7"></a>
      phpMyFAQ 3.0.7 - 2020-12-23
    </h3>
    <ul>
      <li>fixed XSS vulnerability (<a href="/security/advisory-2020-12-23">advisory</a>)</li>
      <li>added TOC plugin for TinyMCE</li>
      <li>removed support for deprecated data-vocabulary.org schema</li>
      <li>removed Travis CI build, switched to Github Actions</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.0.6"></a>
      phpMyFAQ 3.0.6 - 2020-11-27
    </h3>
    <ul>
      <li>added support for PHP 8.0</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.0.5"></a>
      phpMyFAQ 3.0.5 - 2020-10-17
    </h3>
    <ul>
      <li>minor improvements</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.0.4"></a>
      phpMyFAQ 3.0.4 - 2020-07-26
    </h3>
    <ul>
      <li>session timeout extended to 5 hours</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.0.3"></a>
      phpMyFAQ 3.0.3 - 2020-05-21
    </h3>
    <ul>
      <li>improved FAQ editing</li>
      <li>updated to Bootstrap v4.5</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.0.2"></a>
      phpMyFAQ 3.0.2 - 2020-04-16
    </h3>
    <ul>
      <li>improved handling of multiple homepage categories</li>
      <li>improved FAQ editing</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="3.0.1"></a>
      phpMyFAQ 3.0.1 - 2020-03-17
    </h3>
    <ul>
      <li>re-added tag cloud on several pages</li>
      <li>fixed minor bugs</li>
      <li>fixed update issues for PostgreSQL</li>
    </ul>

    <h3>
      <a id="3.0.0"></a>
      phpMyFAQ 3.0.0 - 2020-02-16
      (Codename: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Phobos_%28moon%29">Phobos</a>)
    </h3>
    <ul>
      <li>changed PHP requirement to PHP 7.2+</li>
      <li>added PHP namespaces</li>
      <li>added Docker support</li>
      <li>added experimental large permissions support with sections</li>
      <li>added support for Elasticsearch v5+</li>
      <li>added LDAP configuration frontend</li>
      <li>added configuration for enable/disable XML sitemap</li>
      <li>added support for category images</li>
      <li>added support for categories on homepage</li>
      <li>added image slider template</li>
      <li>added improved attachment overview</li>
      <li>added HTML5 export</li>
      <li>added support for EU General Data Protection Regulation</li>
      <li>added multiple attachment upload</li>
      <li>added 404 page template</li>
      <li>added Mongolian translation</li>
      <li>added support for adding own meta content in templates</li>
      <li>added new REST API v2 (includes login)</li>
      <li>improved sticky records</li>
      <li>improved brute force handling</li>
      <li>improved layout</li>
      <li>switched CSS development from LESS to SCSS</li>
      <li>template variable syntax compatible with Twig/Handlebars</li>
      <li>updated Turkish translation</li>
      <li>updated bundled dependencies</li>
      <li>deprecated RSS feeds</li>
      <li>deprecated REST API v1</li>
      <li>removed translation admin frontend</li>
      <li>removed XHTML export</li>
      <li>removed support for ext/mssql</li>
      <li>removed bundled Symfony ClassLoader</li>
      <li>removed Bower, now using Yarn only</li>
      <li>removed Modernizr</li>
      <li>removed share on Facebook link</li>
      <li>removed Facebook Like Button support</li>
    </ul>

    <h2>phpMyFAQ 2.9.x</h2>

    <h3>
      <a id="2.9.13"></a>
      phpMyFAQ 2.9.13 - 2019-02-14
    </h3>
    <ul>
      <li>fixed XSS vulnerabilities in the bundled Bootstrap version</li>
    </ul>

    <h3>
      <a id="2.9.12"></a>
      phpMyFAQ 2.9.12 - 2019-02-12
    </h3>
    <ul>
      <li>updated bundled Bootstrap to version 3.4.0</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="2.9.11"></a>
      phpMyFAQ 2.9.11 - 2018-09-02
    </h3>
    <ul>
      <li>fixed multiple vulnerabilities (<a href="/security/advisory-2018-09-02">advisory</a>)</li>
      <li>updated bundled jQuery to version</li>
      <li>updated bundled Handlebars to version</li>
    </ul>

    <h3>
      <a id="2.9.10"></a>
      phpMyFAQ 2.9.10 - 2018-02-17
    </h3>
    <ul>
      <li>updated Dutch translation</li>
      <li>updated bundled SwiftMailer to version 5.4.9</li>
      <li>updated bundled phpseclib to version 2.0.9</li>
      <li>updated bundled TinyMCE to version 4.6.7</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="2.9.9"></a>
      phpMyFAQ 2.9.9 - 2017-10-19
    </h3>
    <ul>
      <li>fixed XSS and CSRF vulnerabilities (<a href="/security/advisory-2017-10-19">advisory</a>)</li>
      <li>updated bundled Bootstrap to version 3.3.7</li>
      <li>updated bundled Font Awesome to version 4.7.0</li>
      <li>updated bundled TinyMCE to version 4.5.7</li>
      <li>updated bundled HighlightJS to version 9.12.0</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="2.9.8"></a>
      phpMyFAQ 2.9.8 - 2017-07-12
    </h3>
    <ul>
      <li>fixed improper restriction (<a href="/security/advisory-2017-07-12">advisory</a>)</li>
      <li>add LDAP search in sub groups (Thorsten</li>
      <li>updated French translation</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="2.9.7"></a>
      phpMyFAQ 2.9.7 - 2017-04-02
    </h3>
    <ul>
      <li>fixed stored XSS vulnerability (<a href="/security/advisory-2017-04-02">advisory</a>)</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="2.9.6"></a>
      phpMyFAQ 2.9.6 - 2017-01-27
    </h3>
    <ul>
      <li>fixed possible arbitrary PHP code execution</li>
      <li>ready for PHP 7.1</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="2.9.5"></a>
      phpMyFAQ 2.9.5 - 2016-08-31
    </h3>
    <ul>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="2.9.4"></a>
      phpMyFAQ 2.9.4 - 2016-08-02
    </h3>
    <ul>
      <li>updated bundled Bootstrap to version 3.3.7</li>
      <li>updated bundled TinyMCE to version 4.4.1</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="2.9.3"></a>
      phpMyFAQ 2.9.3 - 2016-08-01
    </h3>
    <ul>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="2.9.2"></a>
      phpMyFAQ 2.9.2 - 2016-07-05
    </h3>
    <ul>
      <li>updated bundled phpseclib to version 2.0.2</li>
      <li>updated bundled TinyMCE to version 4.4.0</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="2.9.1"></a>
      phpMyFAQ 2.9.1 - 2016-05-31
    </h3>
    <ul>
      <li>fixed stored XSS vulnerability (<a href="/security/advisory-2016-05-31">advisory</a>)</li>
      <li>added new source code paste plugin</li>
      <li>removed American English translation</li>
      <li>updated bundled TinyMCE to version 4.3.12</li>
      <li>updated bundled Typeahead.js to version 0.11.0</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3>
      <a id="2.9.0"></a>
      phpMyFAQ 2.9.0 - 2016-05-13
      (Codename: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Proteus%28moon%29">Proteus</a>)
    </h3>
    <ul>
      <li>ready for PHP 7</li>
      <li>changed <a href="/requirements">PHP requirement</a> to PHP 5.5+ and PHP 7</li>
      <li>added support for HHVM 3.4.2+</li>
      <li>added support for Elasticsearch</li>
      <li>added new mobile first, touch-friendly default layout</li>
      <li>added tag intersection based search</li>
      <li>added support for Markdown</li>
      <li>added permissions for guests</li>
      <li>added support for multiple LDAP/AD servers</li>
      <li>added experimental support for LDAP dynamic user binding</li>
      <li>added frontend dependency management using Bower</li>
      <li>added possibility to delete all logged search terms</li>
      <li>added support for MySQL sockets</li>
      <li>added configuration for enable/disable highlighting search terms</li>
      <li>added configuration for enable/disable RSS feeds</li>
      <li>added configuration to enable/disable gzip compression</li>
      <li>added configuration for inactive, hidden categories</li>
      <li>added configuration to disable registration</li>
      <li>added configuration to allow anonymous downloads</li>
      <li>added configuration to override user passwords by admin</li>
      <li>added configuration to reset voting and visits</li>
      <li>added configuration to disable smart answering</li>
      <li>added tag management frontend</li>
      <li>added full support for SQLite3</li>
      <li>added control for meta robots handling</li>
      <li>added configuration for auto-activation of new users</li>
      <li>added support for SMTP</li>
      <li>added bundled Twitter Typeahead.js</li>
      <li>added support for custom headers and footers in PDF exports</li>
      <li>added support for language specific open questions</li>
      <li>added moderator groups to categories</li>
      <li>added FAQ overview page</li>
      <li>added JSON export</li>
      <li>added private notes to FAQs</li>
      <li>added experimental support for bcrypt</li>
      <li>extended REST/JSON API</li>
      <li>added simple bash based backup script</li>
      <li>code base PSR-1 and PSR-2 compatible</li>
      <li>updated bundled Symfony ClassLoader to version 2.6.13</li>
      <li>updated bundled jQuery to version 1.11.2</li>
      <li>updated bundled Bootstrap to version 3.3.5</li>
      <li>updated bundled Font Awesome to version 4.4.0</li>
      <li>updated bundled Modernizr to version 2.8.3</li>
      <li>updated bundled TinyMCE to version 4.2.7</li>
      <li>updated bundled SwiftMailer to version 5.4.1</li>
      <li>updated bundled Parsedown to version 1.5.3</li>
      <li>updated bundled HighlightJS to version 8.9.1</li>
      <li>updated bundled Elasticsearch client to version 2.1.5</li>
      <li>updated Russian translation</li>
      <li>removed bundled SyntaxHighlighter</li>
      <li>dropped support for ext/mysql</li>
      <li>dropped support for SQLite2</li>
      <li>dropped support for Zeus Webserver, IIS 6 and lighttpd</li>
      <li>fixed a lot of minor bugs</li>
    </ul>

    <h2>phpMyFAQ 2.8.x</h2>

    <h3>
      <a id="2.8.29"></a>
      phpMyFAQ 2.8.29 - 2016-05-31
    </h3>
    <ul>
      <li>fixed stored XSS vulnerability (<a href="/security/advisory-2016-05-31">advisory</a>)</li>
    </ul>

    <h3>
      <a id="2.8.28"></a>
      phpMyFAQ 2.8.28 - 2016-05-13
    </h3>
    <ul>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.27"></a>
      phpMyFAQ 2.8.27 - 2016-04-11
    </h3>
    <ul>
      <li>fixed CSRF security issue (<a href="/security/advisory-2016-04-11">advisory</a>)</li>
      <li>added possibility to use fullscreen videos</li>
      <li>added compatibility with MySQL 5.7</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.26"></a>
      phpMyFAQ 2.8.26 - 2016-02-12 - 15 years of phpMyFAQ Edition
    </h3>
    <ul>
      <li>dropped support for Internet Explorer 9 and 10</li>
      <li>updated Italian translation</li>
      <li>updated Norwegian Bokmål translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.25"></a>
      phpMyFAQ 2.8.25 - 2015-12-05
    </h3>
    <ul>
      <li>ready for PHP 7</li>
      <li>added American English translation</li>
      <li>updated bundled Symfony ClassLoader to version 2.6.11</li>
      <li>updated Japanese translation</li>
      <li>updated Brazilian Portuguese translation</li>
      <li>updated Italian translation</li>
      <li>updated Dutch translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.24"></a>
      phpMyFAQ 2.8.24 - 2015-07-27
    </h3>
    <ul>
      <li>updated Farsi translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.23"></a>
      phpMyFAQ 2.8.23 - 2015-06-13
    </h3>
    <ul>
      <li>updated bundled Symfony ClassLoader to version 2.6.9</li>
      <li>fixed "remember me" issues</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.22"></a>
      phpMyFAQ 2.8.22 - 2015-03-31
    </h3>
    <ul>
      <li>updated Czech translation</li>
      <li>updated Brazilian Portuguese translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>

      <a id="2.8.21"></a>
      phpMyFAQ 2.8.21 - 2015-02-28
    </h3>
    <ul>
      <li>added experimental rewrite rules for IIS7 and IIS8</li>
      <li>improved usability in admin backend</li>
      <li>improved HTML5 support in editor</li>
      <li>improved code coverage</li>
      <li>updated Brazilian Portuguese translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.20"></a>
      phpMyFAQ 2.8.20 - 2015-02-07
    </h3>
    <ul>
      <li>added experimental support for HHVM 3.4.2+</li>
      <li>added experimental support for PHP 7.0.0-dev</li>
      <li>updated Brazilian Portuguese translation</li>
      <li>updated French translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.19"></a>
      phpMyFAQ 2.8.19 - 2014-12-31
    </h3>
    <ul>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.18"></a>
      phpMyFAQ 2.8.18 - 2014-11-30
    </h3>
    <ul>
      <li>added clickjacking prevention (<a href="/security/advisory-2014-11-30">advisory</a>)</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.17"></a>
      phpMyFAQ 2.8.17 - 2014-11-05
    </h3>
    <ul>
      <li>fixed typo in update script</li>
    </ul>

    <h3>
      <a id="2.8.16"></a>
      phpMyFAQ 2.8.16 - 2014-11-03
    </h3>
    <ul>
      <li>fixed bug in restore from backup</li>
      <li>fixed a lot of minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.15"></a>
      phpMyFAQ 2.8.15 - 2014-10-02
    </h3>
    <ul>
      <li>fixed broken installation</li>
      <li>updated Farsi translation</li>
    </ul>

    <h3>
      <a id="2.8.14"></a>
      phpMyFAQ 2.8.14 - 2014-10-01
    </h3>
    <ul>
      <li>fixed installation compatibility with MySQL 5.1 and MySQL 5.5</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.13"></a>
      phpMyFAQ 2.8.13 - 2014-09-16
    </h3>
    <ul>
      <li>fixed multiple security vulnerabilities (<a href="/security/advisory-2014-09-16">advisory</a>)</li>
      <li>backported full support for SQLite3</li>
      <li>updated Chinese (Traditional) translation</li>
      <li>updated Farsi translation</li>
      <li>updated Italian translation</li>
      <li>updated Spanish translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.12"></a>
      phpMyFAQ 2.8.12 - 2014-08-02
    </h3>
    <ul>
      <li>updated Hebrew translation</li>
      <li>updated to Twitter OAuth v1.1</li>
      <li>updated bundled Symfony ClassLoader to version 2.5.1</li>
      <li>fixed RSS/Atom feed compatibility</li>
    </ul>

    <h3>
      <a id="2.8.11"></a>
      phpMyFAQ 2.8.11 - 2014-06-28
    </h3>
    <ul>
      <li>updated German translation</li>
      <li>updated Romanian translation</li>
      <li>updated Spanish translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.10"></a>
      phpMyFAQ 2.8.10 - 2014-05-30
    </h3>
    <ul>
      <li>dropped support for Internet Explorer 7 and 8</li>
      <li>updated Brazilian Portuguese translation</li>
      <li>updated bundled TinyMCE to version 3.5.11</li>
      <li>updated bundled TCPDF library to version 6.0.078</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.9"></a>
      phpMyFAQ 2.8.9 - 2014-04-28
    </h3>
    <ul>
      <li>updated Thai translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.8"></a>
      phpMyFAQ 2.8.8 - 2014-03-18
    </h3>
    <ul>
      <li>improved API security</li>
      <li>fixed search with Hebrew characters</li>
      <li>fixed PDF export with Czech and Slovak characters</li>
      <li>fixed a lot of bugs</li>
    </ul>

    <h3>
      <a id="2.8.7"></a>
      phpMyFAQ 2.8.7 - 2014-02-05
    </h3>
    <ul>
      <li>Fixed PHP 5.4 related issue introduced in 2.8.6</li>
    </ul>

    <h3>
      <a id="2.8.6"></a>
      phpMyFAQ 2.8.6 - 2014-02-04
    </h3>
    <ul>
      <li>Fixed IE8/9 only XSS and CSRF vulnerabilities (<a href="/security/advisory-2014-02-04">advisory</a>)
      </li>
      <li>updated Hungarian translation</li>
      <li>updated Spanish translation</li>
      <li>updated bundled Symfony ClassLoader to version 2.4.1</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.5"></a>
      phpMyFAQ 2.8.5 - 2013-12-31
    </h3>
    <ul>
      <li>fixed SSO logins with mod_auth_kerb</li>
      <li>improved HTTPS handling</li>
      <li>updated Dutch translation</li>
      <li>updated European Portuguese translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.4"></a>
      phpMyFAQ 2.8.4 - 2013-11-26
    </h3>
    <ul>
      <li>fixed possible arbitrary PHP code execution (<a href="/security/advisory-2013-11-26">advisory</a>)</li>
      <li>updated Chinese (Traditional) translation</li>
      <li>updated Dutch translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.3"></a>
      phpMyFAQ 2.8.3 - 2013-11-18
    </h3>
    <ul>
      <li>fixed missing permission check on Image Manager (<a href="/security/advisory-2013-11-18">advisory</a>)
      </li>
      <li>improved HTML / CSS code</li>
      <li>updated Brazilian Portuguese translation</li>
      <li>updated Japanese translation</li>
      <li>updated Spanish translation</li>
      <li>update Swedish translation</li>
      <li>fixed some minor bugs</li>
    </ul>
    <h3>
      <a id="2.8.2"></a>
      phpMyFAQ 2.8.2 - 2013-07-25
    </h3>
    <ul>
      <li>added French Canada translation</li>
      <li>improved attachment upload dialog with HTML5 File API</li>
      <li>updated Finnish translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.1"></a>
      phpMyFAQ 2.8.1 - 2013-06-26
    </h3>
    <ul>
      <li>added support for Grunt</li>
      <li>added minified CSS and JavaScript code</li>
      <li>improved usability for group administration</li>
      <li>fixed broken updates for MS SQL and SQLite</li>
      <li>fixed IE8 related JavaScript issues</li>
      <li>fixed HTML5 validation errors</li>
      <li>fixed Arabic translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="2.8.0"></a>
      phpMyFAQ 2.8.0 - 2013-05-21
      (Codename: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Perdita_%28moon%29">Perdita</a>)
    </h3>
    <ul>
      <li>changed PHP <a href="/requirements">requirement</a> to PHP 5.3.3 and later</li>
      <li>phpMyFAQ is now licensed under the terms of Mozilla Public License 2.0</li>
      <li>added new and improved frontend and backend user interface based on Twitter Bootstrap 2.3.2</li>
      <li>added multi site support</li>
      <li>added auto-save for FAQs during editing</li>
      <li>added improved advanced search in subcategories</li>
      <li>added possibility to close and delete open questions</li>
      <li>added possibility to delete multiple open questions</li>
      <li>added user control panel</li>
      <li>added support for Composer</li>
      <li>added configurable maintenance mode</li>
      <li>added user notification for answered questions</li>
      <li>added possibility to deactivate complete FAQ export</li>
      <li>added possibility to random sorting of FAQs</li>
      <li>added documentation in Markdown with GitHub style HTML export</li>
      <li>added support for Gravatar</li>
      <li>added user statistic report in admin dashboard</li>
      <li>improved usability of administration backend</li>
      <li>improved setup and update</li>
      <li>improved security with salted passwords</li>
      <li>improved attachment functionality</li>
      <li>improved CSS development with LESS</li>
      <li>improved minified CSS output</li>
      <li>simplified the link verification</li>
      <li>dropped support for IBM DB2, Interbase/Firebird and Sybase</li>
      <li>dropped support for PHP register_globals and magic_quotes_gpc</li>
      <li>dropped support for Google Translate API v1</li>
      <li>dropped support for Delicious</li>
      <li>updated bundled jQuery to version 1.9.1</li>
      <li>updated bundled Modernizr to version 2.6.2</li>
      <li>updated bundled TinyMCE to version 3.5.7</li>
      <li>updated bundled Symfony ClassLoader to version 2.2.1</li>
      <li>updated bundled Font Awesome to version 3.1</li>
      <li>updated bundled jQuery Sparklines to version 2.1.1</li>
      <li>updated PHP dependency management using Composer</li>
      <li>updated Czech translation</li>
      <li>updated Portuguese translation</li>
      <li>fixed some bugs</li>
    </ul>

    <h2>phpMyFAQ 2.7.x</h2>

    <h3><a id="2.7.9"></a>phpMyFAQ 2.7.9 - 2012-11-02</h3>
    <ul>
      <li>updated Czech translation</li>
      <li>updated Dutch translation</li>
      <li>updated French translation</li>
      <li>improved English translation</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="2.7.8"></a>phpMyFAQ 2.7.8 - 2012-08-22</h3>
    <ul>
      <li>added experimental rewrite rules for Zeus Webserver</li>
      <li>updated Arabic translation</li>
      <li>updated Dutch translation</li>
      <li>updated Spanish translation</li>
      <li>improved LDAP handling</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="2.7.7"></a>phpMyFAQ 2.7.7 - 2012-07-01</h3>
    <ul>
      <li>added Bosnian translation</li>
      <li>improved complete PDF export</li>
      <li>updated Polish translation</li>
      <li>updated Simplified Chinese translation</li>
      <li>fixed Arabian and Bengali translation</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="2.7.6"></a>phpMyFAQ 2.7.6 - 2012-05-16</h3>
    <ul>
      <li>updated Dutch translation</li>
      <li>updated Polish translation</li>
      <li>updated Russian translation</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="2.7.5"></a>phpMyFAQ 2.7.5 - 2012-04-14</h3>
    <ul>
      <li>fixed serious security issue in bundled ImageManager library</li>
      <li>full support for Microsoft SQL Server Driver for PHP</li>
      <li>added online verification check</li>
      <li>added experimental support for SQLite3</li>
      <li>updated Spanish translation</li>
      <li>fixed Slovak translation</li>
      <li>fixed IE9 related JavaScript issues</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="2.7.4"></a>phpMyFAQ 2.7.4 - 2012-02-22</h3>
    <ul>
      <li>added PDF export for complete FAQ in frontend</li>
      <li>updated Japanese translation</li>
      <li>updated Russian translation</li>
      <li>updated Spanish translation</li>
      <li>fixed backup issue</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="2.7.3"></a>phpMyFAQ 2.7.3 - 2012-01-16</h3>
    <ul>
      <li>improved PDF export</li>
      <li>updated Dutch translation</li>
      <li>fixed some PostgreSQL related issues</li>
      <li>fixed some attachment related issues</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="2.7.2"></a>phpMyFAQ 2.7.2 - 2011-12-31</h3>
    <ul>
      <li>improved PDF export and install script</li>
      <li>updated Finnish translation</li>
      <li>updated French translation</li>
      <li>updated Chinese (Simplified) translation</li>
      <li>updated bundled TCPDF library to version 5.9.136</li>
      <li>updated bundled jQuery datePicker plugin</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="2.7.1"></a>phpMyFAQ 2.7.1 - 2011-10-25</h3>
    <ul>
      <li>fixed security issue in bundled ImageManager library</li>
      <li>added missing translations</li>
      <li>added configurable encryption type for passwords</li>
      <li>added support for anonymous login for LDAP servers</li>
      <li>added table of contents in PDF exports</li>
      <li>fixed some bugs</li>
    </ul>

    <h3>
      <a id="2.7.0"></a>
      phpMyFAQ 2.7.0 - 2011-09-30
      (Codename: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Prospero_%28moon%29">Prospero</a>)
    </h3>
    <ul>
      <li>changed PHP <a href="/requirements">requirement</a> to PHP 5.2.3</li>
      <li>dropped support for MySQL 4.1</li>
      <li>dropped support for Internet Explorer 6 + 7</li>
      <li>dropped support for obsolete Microsummaries</li>
      </li>
      <li>added new HTML5/CSS3 powered layout and administration backend</li>
      <li>added configurable search relevance functionality</li>
      <li>added automatic translations with Google Translate</li>
      <li>added Twitter support</li>
      <li>added Facebook Like Button support</li>
      <li>added "Bookmark on Delicious" support</li>
      <li>added Ajax-powered comment functionality</li>
      <li>added attachment administration frontend</li>
      <li>added basic authentication support for LDAP groups</li>
      <li>added basic support for HTML5 microdata</li>
      <li>added functionality of the TinyMCE save button</li>
      <li>added basic reporting functionality</li>
      <li>added IPv6 support</li>
      <li>added support for Single Sign On authentication</li>
      <li>added support for complete secured FAQ installations</li>
      <li>added user configurable date formatting</li>
      <li>added captcha image refresh</li>
      <li>added possibility to delete user generated search terms</li>
      <li>improved usability in frontend and administration backend</li>
      <li>improved attachment handling in administration backend</li>
      <li>enabling Gzip compression by default</li>
      <li>updated bundled jQuery to version 1.6.2</li>
      <li>updated bundled Modernizr to version 2.0</li>
      <li>updated bundled TinyMCE to version 3.4.2</li>
      <li>updated bundled SyntaxHighlighter to version 3.0.83</li>
      <li>updated bundled TCPDF library to version 5.9.110</li>
      <li>updated Dutch translation</li>
      <li>updated German translation</li>
      <li>updated Japanese translation</li>
      <li>updated Portuguese translation</li>
      <li>updated Russian translation</li>
      <li>updated Spanish translation</li>
    </ul>

    <h2>phpMyFAQ 2.6.x</h2>

    <h3><a id="2.6.19"></a>phpMyFAQ 2.6.19 - 2011-10-25</h3>
    <ul>
      <li>fixed security issue in bundled ImageManager library</li>
    </ul>


    <h3><a id="2.6.18"></a>phpMyFAQ 2.6.18 - 2011-09-28</h3>
    <ul>
      <li>fixed information disclosure vulnerability</li>
      <li>updated Spanish translation</li>
      <li>fixed Danish translation</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3><a id="2.6.17"></a>phpMyFAQ 2.6.17 - 2011-06-08</h3>
    <ul>
      <li>updated Portuguese translation</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3><a id="2.6.16"></a>phpMyFAQ 2.6.16 - 2011-05-31</h3>
    <ul>
      <li>updated Dutch translation</li>
      <li>updated French translation</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3><a id="2.6.15"></a>phpMyFAQ 2.6.15 - 2011-02-23</h3>
    <ul>
      <li>added Malay translation</li>
      <li>updated Danish translation</li>
      <li>updated Brazilian Portuguese translation</li>
      <li>updated Spanish translation</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3><a id="2.6.14"></a>phpMyFAQ 2.6.14 - 2011-01-24</h3>
    <ul>
      <li>added rewrite rules for nginx</li>
      <li>added compatibility for MySQL 5.5 with ext/mysql</li>
      <li>added support to ban IPs from user tracking files</li>
      <li>improved restore functionality</li>
      <li>updated Dutch translation</li>
      <li>updated German translation</li>
      <li>fixed issue with sending mails to category administrators</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3><a id="2.6.13"></a>phpMyFAQ 2.6.13 - 2010-12-15</h3>
    <ul>
      <li>clean package (<a href="/security/advisory-2010-12-15">advisory</a>)</li>
    </ul>

    <h3><a id="2.6.12"></a>phpMyFAQ 2.6.12 - 2010-12-13</h3>
    <ul>
      <li>added experimental support for MariaDB</li>
      <li>added empty LDAP configuration file as example</li>
      <li>updated Arabic translation</li>
      <li>updated Dutch translation</li>
      <li>updated French translation</li>
      <li>updated Norwegian Bokmål translation</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3><a id="2.6.11"></a>phpMyFAQ 2.6.11 - 2010-11-03</h3>
    <ul>
      <li>fixed some bugs introduced with phpMyFAQ 2.6.10</li>
    </ul>

    <h3><a id="2.6.10"></a>phpMyFAQ 2.6.10 - 2010-11-02</h3>
    <ul>
      <li>added several security enhancements</li>
      <li>updated Chinese (Simplified) translation</li>
      <li>updated German translation</li>
      </li>
      <li>updated Portuguese translation</li>
      <li>fixed minor bugs</li>
      </li>
    </ul>

    <h3><a id="2.6.9"></a>phpMyFAQ 2.6.9 - 2010-09-28</h3>
    <ul>
      <li>fixed XSS vulnerability</li>
      <li>added Slovak translation</li>
      <li>added minor usability improvement in administration backend</li>
      <li>fixed issue with embedded Google Analytics code</li>
    </ul>

    <h3><a id="2.6.8"></a>phpMyFAQ 2.6.8 - 2010-08-31</h3>
    <ul>
      <li>dropped Oracle database support</li>
      <li>added new TinyMCE plugin for adding internal links by a suggest search</li>
      <li>added basic HTML5 powered administration backend</li>
      <li>improved setup and update functionality</li>
      <li>updated bundled TCPDF library to version 5.6.000</li>
      <li>updated bundled TinyMCE editor component to version 3.3.8</li>
      <li>updated bundled phpseclib to version 0.2.1</li>
      <li>updated Russian translation</li>
      <li>updated Portuguese translation</li>
      <li>fixed XML rendering issue</li>
      <li>fixed many bugs</li>
    </ul>

    <h3><a id="2.6.7"></a>phpMyFAQ 2.6.7 - 2010-07-29</h3>
    <ul>
      <li>refactored search backend</li>
      <li>improved pagination functionality</li>
      <li>fixed various problems with Microsoft SQL Server Driver for PHP</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3><a id="2.6.6"></a>phpMyFAQ 2.6.6 - 2010-06-21</h3>
    <ul>
      <li>refactored database abstraction</li>
      <li>fixed OpenLDAP authentication</li>
      <li>fixed duplication of search results</li>
      <li>fixed issue with duplicate sitemap characters</li>
      <li>fixed solution ID issues</li>
      <li>improved Glossary deletion workflow</li>
      <li>updated Brazilian Portuguese translation</li>
      <li>updated Norwegian Bokmål translation</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3><a id="2.6.5"></a>phpMyFAQ 2.6.5 - 2010-05-24</h3>
    <ul>
      <li>updated bundled TCPDF library to version 5.0.009</li>
      <li>updated bundled TinyMCE editor component to version 3.3.5.1</li>
      <li>refactored OpenSearch plugin code base</li>
      <li>fixed small update issues in update script</li>
      <li>fixed missing language fallback issue in instant response</li>
      <li>fixed user deletion in admin backend</li>
      <li>fixed backup/restore bug</li>
      <li>updated Polish translation</li>
      <li>updated Russian translation</li>
      <li>updated Thai translation</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3><a id="2.6.4"></a>phpMyFAQ 2.6.4 - 2010-04-18</h3>
    <ul>
      <li>added experimental support for Microsoft SQL Server Driver for PHP</li>
      <li>improved FAQ record administration frontend</li>
      <li>improved Sitemap titles</li>
      <li>updated German translation</li>
      <li>updated Romanian translation</li>
      <li>updated Swedish translation</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3><a id="2.6.3"></a>phpMyFAQ 2.6.3 - 2010-03-03</h3>
    <ul>
      <li>fixed various mail issues</li>
      <li>improved links rewriting</li>
      <li>improved sitemap for Chinese, Japanese and Korean content</li>
      <li>improved meta keyword handling</li>
      <li>updated Portuguese translation</li>
      <li>updated French translation</li>
      <li>fixed minor bugs</li>
    </ul>

    <h3><a id="2.6.2"></a>phpMyFAQ 2.6.2 - 2010-02-01</h3>
    <ul>
      <li>fixed update script issue</li>
      <li>fixed display of Chinese, Japanese and Korean content in PDFs</li>
      <li>fixed issues with RSS feeds</li>
      <li>fixed broken Spanish translation</li>
      <li>updated French translation</li>
      <li>minor bugfixes</li>
    </ul>

    <h3><a id="2.6.1"></a>phpMyFAQ 2.6.1 - 2010-01-23</h3>
    <ul>
      <li>updated bundled TCPDF library to version 4.8.026</li>
      <li>improved cookie handling</li>
      <li>minor bugfixes</li>
    </ul>

    <h3>
      <a id="2.6.0"></a>
      phpMyFAQ 2.6.0 - 2010-01-11
      (Codename: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Portia_%28moon%29">Portia</a>)
    </h3>
    <ul>
      <li>moved all language files to UTF-8</li>
      <li>added TCPDF as replacement for FPDF library</li>
      <li>added support for TinyMCE translations</li>
      <li>added support for multi-language news</li>
      <li>added user adjustable template sets and styles</li>
      <li>added support plurals in translations</li>
      <li>added share on Facebook link</li>
      <li>added a rest/json API</li>
      <li>added secure login if SSL is available</li>
      <li>added FAQ entry dependent meta description</li>
      <li>added experimental support for Microsoft Windows Web App Gallery</li>
      <li>improved attachment functionality</li>
      <li>improved install script</li>
      <li>improved category view with description</li>
      <li>improved FAQ entry activation</li>
      <li>improved user administration</li>
      <li>improved FAQ entry workflow</li>
      <li>removed Docbook XML export</li>
      <li>removed Net_IDNA library</li>
      <li>updated Greek translation</li>
      <li>updated Lithuanian translation</li>
      <li>updated Japanese translation</li>
    </ul>

    <h2>phpMyFAQ 2.5.x</h2>

    <h3><a id="2.5.7"></a>phpMyFAQ 2.5.7 - 2010-01-19</h3>
    <ul>
      <li>improved glossary detection</li>
      <li>updated Dutch translation</li>
      <li>updated Indonasian translation</li>
      <li>updated Chinese (Simplified) translation</li>
      <li>updated Japanese translation</li>
      <li>updated Norwegian Bokmal translation</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3><a id="2.5.6"></a>phpMyFAQ 2.5.6 - 2009-12-22</h3>
    <ul>
      <li>updated bundled TinyMCE editor component to version 3.2.7</li>
      <li>updated bundled SyntaxHighlighter library to version 2.1.364</li>
      <li>updated bundled SyntaxHighlighter plugin for TinyMCE</li>
      <li>updated Brazilian Portuguese translation</li>
      <li>updated Spanish translation</li>
      <li>minor bugfixes</li>
    </ul>

    <h3><a id="2.5.5"></a>phpMyFAQ 2.5.5 - 2009-12-01</h3>
    <ul>
      <li>fixed IE6/7 only XSS vulnerabilities (<a href="/security/advisory-2009-12-01">advisory</a>)</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3><a id="2.5.4"></a>phpMyFAQ 2.5.4 - 2009-11-10</h3>
    <ul>
      <li>fixed various PostgreSQL related issues</li>
      <li>updated Dutch translation</li>
      <li>updated Brazilian Portuguese translation</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3><a id="2.5.3"></a>phpMyFAQ 2.5.3 - 2009-10-19</h3>
    <ul>
      <li>switched repository from SVN to git</li>
      <li>added missing Perl syntax hightlighting</li>
      <li>fixed missing info link in news</li>
      <li>fixed broken group permission check for instant response</li>
      <li>fixed broken attachment download</li>
      <li>fixed SQLite problems</li>
      <li>updated Japanese translation</li>
    </ul>

    <h3><a id="2.5.2"></a>phpMyFAQ 2.5.2 - 2009-09-01</h3>
    <ul>
      <li>fixed IE6/7 only XSS vulnerability (<a href="/security/advisory-2009-09-01">advisory</a>)</li>
      <li>updated Polish language file</li>
      <li>updated Chinese language file</li>
      <li>fixed problem with Czech translation</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3><a id="2.5.1"></a>phpMyFAQ 2.5.1 - 2009-08-10</h3>
    <ul>
      <li>added support for LDAP-datamapping, e.g. against an Active Directory Server</li>
      <li>added support for multi-domain-authentication, e.g. against an ADS-Global Catalog</li>
      <li>added support for PHP LDAP options</li>
      <li>added Lithuanian translation</li>
      <li>fixed LDAP issues</li>
      <li>fixed some Oracle issues</li>
      <li>improved svn2package script</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3>
      <a id="2.5.0"></a>
      phpMyFAQ 2.5.0 - 2009-07-21
      (Codename: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Pandora_%28moon%29">Pandora</a>)
    </h3>
    <ul>
      <li>changed PHP <a href="/requirements">requirement</a> to PHP 5.2</li>
      <li>dropped support for MySQL 4.0 and MaxDB</li>
      <li>dropped support for XML-RPC</li>
      <li>refactored complete code base to PHP 5.2+</li>
      <li>added new and improved new basic layout theme</li>
      <li>added new administration layout</li>
      <li>added new Image Manager in administration backend</li>
      <li>added RSS feed for every category</li>
      <li>added ability to copy and duplicate FAQ entries</li>
      <li>added support for blocks in template engine</li>
      <li>added public user registration</li>
      <li>added LDAP authentication</li>
      <li>added HTTP authentication</li>
      <li>added Mail sub system</li>
      <li>added enable/disable WYSIWYG Editor flag</li>
      <li>added most popular searches list</li>
      <li>added frontend for search logs statistics</li>
      <li>added sticky FAQ records</li>
      <li>added smart answering for user questions</li>
      <li>added string wrapper for better UTF-8 handling</li>
      <li>added translation frontend</li>
      <li>added jQuery 1.3 as replacement for Prototype/Script.aculo.us</li>
      <li>improved user administration frontend</li>
      <li>improved performance</li>
      <li>improved language files</li>
      <li>ajaxified comment and record administration</li>
      <li>updated bundled Net_IDNA to version 0.6.3</li>
      <li>updated bundled TinyMCE editor component to version 3.2.2.3</li>
      <li>updated bundled FPDF library to version 1.6</li>
    </ul>

    <h2>phpMyFAQ 2.0.x</h2>

    <h3><a id="2.0.17"></a>phpMyFAQ 2.0.17 - 2009-09-01</h3>
    <ul>
      <li>fixed XSS vulnerability (<a href="/security/advisory-2009-09-01">advisory</a>)</li>
    </ul>

    <h3><a id="2.0.16"></a>phpMyFAQ 2.0.16 - 2009-08-10</h3>
    <ul>
      <li>updated French translation</li>
      <li>fixed problem with visible questions</li>
      <li>fixed bug with broken category permission settings</li>
      <li>fixed some Oracle issues</li>
      <li>improved SVN export script</li>
      <li>minor bugfixes</li>
    </ul>

    <h3><a id="2.0.15"></a>phpMyFAQ 2.0.15 - 2009-06-02</h3>
    <ul>
      <li>fixed XSS vulnerability (<a href="/security/advisory-2009-06-02">advisory</a>)</li>
    </ul>

    <h3><a id="2.0.14"></a>phpMyFAQ 2.0.14 - 2009-05-21</h3>
    <ul>
      <li>updated Vietnamese translation</li>
      <li>improved tagging implementation</li>
      <li>fixed authentication bypass</li>
      <li>fixed content type for RSS feeds</li>
      <li>minor bugfixes</li>
    </ul>

    <h3><a id="2.0.13"></a>phpMyFAQ 2.0.13 - 2009-04-20</h3>
    <ul>
      <li>added new blocked words for spam protection</li>
      <li>fixed fatal error in PHP 5.3</li>
      <li>fixed redirect problem with multiviews in .htaccess</li>
      <li>fixed problem with visible questions in RSS feed</li>
      <li>minor bugfixes</li>
    </ul>

    <h3><a id="2.0.12"></a>phpMyFAQ 2.0.12 - 2009-02-17</h3>
    <ul>
      <li>fixed bug with MySQL 6 and ext/mysqli</li>
      <li>fixed stat call bug in installer on OpenSuse 10.3</li>
      <li>improved SVN checkout script</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3><a id="2.0.11"></a>phpMyFAQ 2.0.11 - 2009-01-22</h3>
    <ul>
      <li>updated English and Turkish translation and switched to UTF-8</li>
      <li>updated Simplified Chinese translation</li>
      <li>fixed possible infinity loop bug in categories</li>
      <li>fixed permission bypass issue</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3><a id="2.0.10"></a>phpMyFAQ 2.0.10 - 2008-11-26</h3>
    <ul>
      <li>fixed image bug in PDF</li>
      <li>fixed isses in admin log display</li>
      <li>re-added missing XML-RPCS library files</li>
      <li>fixed PHP warnings and notices</li>
      <li>minor bugfixes</li>
    </ul>

    <h3><a id="2.0.9"></a>phpMyFAQ 2.0.9 - 2008-10-17</h3>
    <ul>
      <li>dedicated to my uncle Werner</li>
      <li>fixed content deletion bug</li>
      <li>fixed SVN export script</li>
      <li>improved comment spam protection</li>
      <li>re-added missing css color file</li>
      <li>minor bugfixes</li>
    </ul>

    <h3><a id="2.0.8"></a>phpMyFAQ 2.0.8 - 2008-09-11</h3>
    <ul>
      <li>fixed security vulnerability in XSS filter (Alexios Fakos at n.runs.com)</li>
      <li>switched repository from CVS to SVN</li>
      <li>fixed session bug with MS SQL</li>
      <li>fixed login errors with IBM DB2</li>
      <li>updated French translation</li>
      <li>updated Serbian translation</li>
    </ul>

    <h3><a id="2.0.7"></a>phpMyFAQ 2.0.7 - 2008-05-12</h3>
    <ul>
      <li>added Bengali translation</li>
      <li>added Ukrainian translation</li>
      <li>updated Czech translation</li>
      <li>minor bugfixes</li>
    </ul>

    <h3><a id="2.0.6"></a>phpMyFAQ 2.0.6 - 2008-02-24</h3>
    <ul>
      <li>permission setting related fix</li>
      <li>minor bugfixes</li>
    </ul>

    <h3><a id="2.0.5"></a>phpMyFAQ 2.0.5 - 2008-01-20</h3>
    <ul>
      <li>fixed lighttpd rewrite rules</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3><a id="2.0.4"></a>phpMyFAQ 2.0.4 - 2007-11-18</h3>
    <ul>
      <li>added Thai translation</li>
      <li>improved DiggIt link</li>
      <li>fixed French translation</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3><a id="2.0.3"></a>phpMyFAQ 2.0.3 - 2007-08-18</h3>
    <ul>
      <li>some permission related fixes</li>
      <li>some glossary related fixes</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3><a id="2.0.2"></a>phpMyFAQ 2.0.2 - 2007-07-08</h3>
    <ul>
      <li>some performance improvements</li>
      <li>some permission related fixes</li>
      <li>some update fixes</li>
      <li>updated Danish translation</li>
      <li>some minor bugfixes</li>
    </ul>

    <h3><a id="2.0.1"></a>phpMyFAQ 2.0.1 - 2007-06-01</h3>
    <ul>
      <li>fixed broken update script</li>
      <li>fixed bugs with basic permission level</li>
      <li>fixed PHP segfaults with Zend Optimizer extension</li>
      <li>updated Japanese translation</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3>
      <a id="2.0.0"></a>
      phpMyFAQ 2.0.0 - 2007-05-22
      (Codename: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Prometheus_%28moon%29">Prometheus</a>)
    </h3>
    <ul>
      <li>added rewritten and enhanced user management</li>
      <li>added rewritten and enhanced authorization management</li>
      <li>added user and group based permissions for categories and records</li>
      <li>added Ajax support</li>
      <li>added automatic link verification</li>
      <li>added user binding to a category</li>
      <li>added glossary support</li>
      <li>added possibility to delete admin log</li>
      <li>added configurable visibility of new questions</li>
      <li>added dynamic related articles</li>
      <li>added support for Google, Yahoo!, and MSN sitemaps</li>
      <li>added improved WYSIWYG editor and Image Manager</li>
      <li>added improved News module</li>
      <li>added tagging</li>
      <li>added DiggIt! link</li>
      <li>added Microsummaries</li>
      <li>added OpenSearch support</li>
      <li>added "submit translation" link</li>
      <li>added experimental support for Oracle</li>
      <li>added experimental support for Interbase/Firebird</li>
      <li>added sorting by id, title and date for records in admin backend</li>
      <li>added comment administration frontend</li>
      <li>added configurable simple reordering of records</li>
      <li>added questionnaire for statistics in installer</li>
      <li>added Ajax-powered Instant Response</li>
      <li>added editable default values for record configuration</li>
      <li>added blacklist for search bots</li>
      <li>added stylesheets for right-to-left text-direction</li>
      <li>improved export functions</li>
      <li>improved URL rewrite functions</li>
      <li>improved category management</li>
      <li>improved administration backend</li>
      <li>updated Arabic translation</li>
      <li>updated German translation</li>
      <li>updated Hewbrew translation</li>
      <li>updated Italian translation</li>
      <li>updated Japanese translation</li>
      <li>updated Spanish translation</li>
    </ul>

    <h2>phpMyFAQ 1.6.x</h2>

    <h3><a id="1.6.12"></a>phpMyFAQ 1.6.12 - 2007-05-13</h3>
    <ul>
      <li>updated bundled Net_Idna to version 0.5.1</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.6.11"></a>phpMyFAQ 1.6.11 - 2007-03-31</h3>
    <ul>
      <li>updated Finnish translation</li>
      <li>fixed problems with unsupported charsets in PHP</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.6.10"></a>phpMyFAQ 1.6.10 - 2007-02-18</h3>
    <ul>
      <li>fixed a serious security issue (<a href="/security/advisory-2007-02-18">advisory</a>)</li>
      <li>improved performance</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.6.9"></a>phpMyFAQ 1.6.9 - 2007-01-28</h3>
    <ul>
      <li>updated bundled PHP XMLRPC to version 2.1</li>
      <li>fixed the backup download permissions</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.6.8"></a>phpMyFAQ 1.6.8 - 2006-12-15</h3>
    <ul>
      <li>fixed a possible security issue (<a href="/security/advisory-2006-12-15">advisory</a>)</li>
      <li>fixed the blank dropdown in the installer</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.6.7"></a>phpMyFAQ 1.6.7 - 2006-11-27</h3>
    <ul>
      <li>added Persian (Farsi) translation</li>
      <li>fixed PHP 5.2.0 related issues</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.6.6"></a>phpMyFAQ 1.6.6 - 2006-10-28</h3>
    <ul>
      <li>updated Arabic translation (also moved to UTF-8)</li>
      <li>updated bundled Net_IDNA to version 0.4.4</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.6.5"></a>phpMyFAQ 1.6.5 - 2006-09-21</h3>
    <ul>
      <li>added Welsh translation</li>
      <li>added French documentation</li>
      <li>updated Czech translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.6.4"></a>phpMyFAQ 1.6.4 - 2006-08-19</h3>
    <ul>
      <li>updated Brazilian Portuguese translation</li>
      <li>updated Dutch translation</li>
      <li>updated French translation</li>
      <li>updated Italian translation</li>
      <li>updated Japanese translation</li>
      <li>updated Portuguese translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.6.3"></a>phpMyFAQ 1.6.3 - 2006-07-16</h3>
    <ul>
      <li>added German documentation</li>
      <li>updated bundled NET_IDNA class to version 0.4.3</li>
      <li>released a spec file for building an RPM package of phpMyFAQ</li>
      <li>updated Simplified Chinese translation (also moved to utf-8)</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.6.2"></a>phpMyFAQ 1.6.2 - 2006-06-17</h3>
    <ul>
      <li>added user tracking data deletion</li>
      <li>improved PHP 5 support for MySQL and SQLite</li>
      <li>updated Dutch translation</li>
      <li>updated French translation</li>
      <li>updated Italian translation</li>
      <li>updated Swedish translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.6.1"></a>phpMyFAQ 1.6.1 - 2006-05-13</h3>
    <ul>
      <li>added spam control center</li>
      <li>added mod_rewrite support for lighttpd</li>
      <li>added Microsoft Internet Explorer 7 search plugin</li>
      <li>added automatic admin session expiry notice</li>
      <li>improved record administration</li>
      <li>improved user administration</li>
      <li>improved category administration</li>
      <li>improved highlighting of searched words</li>
      <li>updated Italian translation</li>
      <li>updated German translation</li>
      <li>updated Danish translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="1.6.0"></a>
      phpMyFAQ 1.6.0 - 2006-04-21
      (Codename: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Pluto">Pluto</a>)
    </h3>
    <ul>
      <li>fixed security issue (<a href="/security/advisory-2006-04-21">advisory</a>)</li>
      <li>added unique solution id</li>
      <li>added revision system</li>
      <li>added support for captchas</li>
      <li>added bad word list blocker</li>
      <li>added search in one selected category</li>
      <li>added linked breadcrumb</li>
      <li>added RSS feed for open questions</li>
      <li>added Brazilian Portuguese translation</li>
      <li>improved record administration</li>
      <li>improved spam protection</li>
      <li>improved language detection and handling</li>
      <li>updated Italian translation</li>
      <li>updated Japanese translation</li>
      <li>updated Korean translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h2>phpMyFAQ 1.5.x</h2>

    <h3><a id="1.5.9"></a>phpMyFAQ 1.5.9 - 2006-04-21</h3>
    <ul>
      <li>fixed security issue (<a href="/security/advisory-2006-04-21">advisory</a>)</li>
    </ul>

    <h3><a id="1.5.8"></a>phpMyFAQ 1.5.8 - 2006-04-09</h3>
    <ul>
      <li>updated Korean translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.5.7"></a>phpMyFAQ 1.5.7 - 2006-03-02</h3>
    <ul>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.5.6"></a>phpMyFAQ 1.5.6 - 2006-01-28</h3>
    <ul>
      <li>added Basque translation</li>
      <li>improved spam protection</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.5.5"></a>phpMyFAQ 1.5.5 - 2005-12-19</h3>
    <ul>
      <li>added support for MaxDB</li>
      <li>added keywords into meta keywords</li>
      <li>added search by record ID</li>
      <li>improved language detection and handling</li>
      <li>updated Italian translation</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.5.4"></a>phpMyFAQ 1.5.4 - 2005-11-18</h3>
    <ul>
      <li>fixed security issues (<a href="/security/advisory-2005-11-18">advisory</a>)</li>
      <li>full support for IBM DB2 databases</li>
      <li>added re-ordering of sub-categories</li>
      <li>added Firefox/Mozilla search plugin</li>
      <li>updated Hebrew translation</li>
      <li>updated Simplified Chinese translation</li>
      <li>updated Spanish translation</li>
      <li>updated Italian translation</li>
      <li>updated Japanese translation</li>
      <li>updated Danish translation</li>
      <li>some minor improvements</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3><a id="1.5.3"></a>phpMyFAQ 1.5.3 - 2005-10-15</h3>
    <ul>
      <li>added several security enhancements</li>
      <li>added Greek translation</li>
      <li>improved RSS support</li>
      <li>improved backup/restore frontend</li>
      <li>updated Indonasian translation</li>
      <li>updated bundled Net_IDNA class</li>
      <li>many minor bugfixes</li>
    </ul>

    <h3><a id="1.5.2"></a>phpMyFAQ 1.5.2 - 2005-09-23</h3>
    <ul>
      <li>fixed serious security issues (<a href="/security/advisory-2005-09-23">advisory</a>)</li>
      <li>full support for SQLite</li>
      <li>more compliance with phpMyFAQ 1.4.x templates</li>
      <li> many minor bugfixes</li>
    </ul>

    <h3><a id="1.5.1"></a>phpMyFAQ 1.5.1 - 2005-09-19</h3>
    <ul>
      <li>added experimental support for SQLite</li>
      <li>added dynamic Sitemap</li>
      <li>added Norwegian Bokmål translation</li>
      <li>improved image handling in PDF export</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3>
      <a id="1.5.0"></a>
      phpMyFAQ 1.5.0 - 2005-08-20
      (Codename: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Phoebe_%28moon%29">Phoebe</a>)
    </h3>
    <ul>
      <li>full support for PostgreSQL databases</li>
      <li>full support for Sybase databases</li>
      <li>full support for MS SQL databases</li>
      <li>full support for MySQL 4.1/5.0 databases</li>
      <li>experimental support for IBM DB2 databases</li>
      <li>LDAP support as an additional option</li>
      <li>one entry in various categories</li>
      <li>mod_rewrite support</li>
      <li>faster template engine parses PHP code</li>
      <li>rewritten PDF export</li>
      <li>complete XML, XHTML and DocBook XML exports</li>
      <li>better RSS support</li>
      <li>updated bundled htmlArea and bundled NET_IDNA class</li>
      <li>PHP 5.x compatible</li>
      <li>many code and performance improvements and code cleanup</li>
    </ul>

    <h2>phpMyFAQ 1.4.x</h2>

    <h3><a id="1.4.11"></a>phpMyFAQ 1.4.11 - 2005-08-15</h3>
    <ul>
      <li>fixed serious security issue in bundled XML-RPC component (<a
          href="/security/advisory-2005-08-15">advisory</a>)
      </li>
      <li>updated bundled NET_IDNA class to version 0.4.1</li>
    </ul>

    <h3><a id="1.4.10"></a>phpMyFAQ 1.4.10 - 2005-08-01</h3>
    <ul>
      <li>compatible with PHP 4.4.0</li>
    </ul>

    <h3><a id="1.4.9"></a>phpMyFAQ 1.4.9 - 2005-06-29</h3>
    <ul>
      <li>fixed serious security issue in bundled XML-RPC component (<a
          href="/security/advisory-2005-06-29">advisory</a>)
      </li>
      <li>some minor bugfixes</li>
    </ul>

    <h3><a id="1.4.8"></a>phpMyFAQ 1.4.8 - 2005-04-11</h3>
    <ul>
      <li>fixed bug with images in PDFs</li>
      <li>fixed bug with URLs in export</li>
      <li>updated Japanese translation</li>
      <li>updated Korean translation</li>
      <li>some minor bugfixes</li>
    </ul>

    <h3><a id="1.4.7"></a>phpMyFAQ 1.4.7 - 2005-03-06</h3>
    <ul>
      <li>fixed possible SQL injection bug (<a href="/security/advisory-2005-03-06">advisory</a>)</li>
      <li>some minor bugfixes</li>
    </ul>

    <h3><a id="1.4.6"></a>phpMyFAQ 1.4.6 - 2005-02-20</h3>
    <ul>
      <li>updated Polish translation</li>
      <li>updated French translation</li>
      <li>some minor bugfixes</li>
    </ul>

    <h3><a id="1.4.5"></a>phpMyFAQ 1.4.5 - 2005-01-22</h3>
    <ul>
      <li>updated Japanese translation</li>
      <li>updated Chinese (Traditional) translation</li>
      <li>some bugfixes</li>
    </ul>

    <h3><a id="1.4.4"></a>phpMyFAQ 1.4.4 "The Santa Claus Version" - 2004-12-06</h3>
    <ul>
      <li>added Romanian translation</li>
      <li>added Chinese (Traditional) translation</li>
      <li>many bugfixes</li>
    </ul>

    <h3><a id="1.4.3"></a>phpMyFAQ 1.4.3 - 2004-11-05</h3>
    <ul>
      <li>added Turkish translation</li>
      <li>added Indonesian translation</li>
      <li>updated German translation</li>
      <li>many bugfixes</li>
    </ul>

    <h3><a id="1.4.2"></a>phpMyFAQ 1.4.2 - 2004-10-10</h3>
    <ul>
      <li>added Finnish translation</li>
      <li>added Hebrew translation</li>
      <li>fulltext search inside admin section</li>
      <li>some accessibility improvements</li>
      <li>many bugfixes</li>
    </ul>

    <h3><a id="1.4.1"></a>phpMyFAQ 1.4.1 - 2004-08-16</h3>
    <ul>
      <li>improved category administration</li>
      <li>added Swedish translation</li>
      <li>added Korean translation</li>
      <li>added Japanese translation</li>
      <li>custom admin menu according to user permissions</li>
      <li>easier record deleting</li>
      <li>session and language stored in a cookie</li>
      <li>less SQL queries in admin section</li>
      <li>updated install script</li>
      <li>updated Chinese translation</li>
      <li>updated Portoguese translation</li>
      <li>improved IDN domain support</li>
      <li>improved accessibility</li>
      <li>many bug fixes</li>
    </ul>

    <h3><a id="1.4.0"></a>phpMyFAQ 1.4.0a - 2004-07-27</h3>
    <ul>
      <li>fixed security vulnerability (<a href="/security/advisory-2004-07-27">advisory</a>)</li>
    </ul>

    <h3>
      <a id="1.4.0"></a>
      phpMyFAQ 1.4.0 - 2004-07-22
      (Codename: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Pan_%28moon%29">Pan</a>)
    </h3>
    <ul>
      <li>added WYSIWYG Editor</li>
      <li>added Image Manager</li>
      <li>added new category module</li>
      <li>added support for XML-RPC</li>
      <li>added support for timezones</li>
      <li>added ISO 639 support in translations</li>
      <li>added script that converts BBCode in XHTML</li>
      <li>better PDF export with table of contents</li>
      <li>new and better installer</li>
      <li>new XHTML based templates</li>
      <li>automatic language detection</li>
      <li>improved IDN domain support</li>
      <li>function for resetting forgotten passwords</li>
      <li>include internal links with dropdown box</li>
      <li>many code improvements and code cleanup</li>
      <li>many bug fixes</li>
    </ul>

    <h2>phpMyFAQ 1.3.x</h2>

    <h3><a id="1.3.14"></a>phpMyFAQ 1.3.14 - 2004-06-09</h3>
    <ul>
      <li>added Slovenian translation</li>
      <li>added Serbian translation</li>
      <li>added Danish translation</li>
      <li>improved performance on Windows Server 2003 and PHP with ISAPI</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.3.13"></a>phpMyFAQ 1.3.13 - 2004-05-18</h3>
    <ul>
      <li>fixed serious security vulnerability (Stefan Esser, <a href="/security/advisory-2004-05-18">advisory</a>)
      </li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.3.12"></a>phpMyFAQ 1.3.12 - 2004-04-21</h3>
    <ul>
      <li>added Hungarian translation</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.3.11"></a>phpMyFAQ 1.3.11a - 2004-04-13</h3>
    <ul>
      <li>fixed some annoying bugs</li>
    </ul>

    <h3><a id="1.3.11"></a>phpMyFAQ 1.3.11 - 2004-04-07</h3>
    <ul>
      <li>added Chinese translation</li>
      <li>added Czech translation</li>
      <li>added support for IDN domains</li>
      <li>many bugfixes</li>
    </ul>

    <h3><a id="1.3.10"></a>phpMyFAQ 1.3.10 - 2004-02-12</h3>
    <ul>
      <li>updated bundled FPDF class</li>
      <li>added Arabian translation</li>
      <li>many bugfixes</li>
    </ul>

    <h3><a id="1.3.9"></a>phpMyFAQ 1.3.9pl1 - 2004-01-02</h3>
    <ul>
      <li>added Vietnamese translation</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.3.9"></a>phpMyFAQ 1.3.9 - 2003-11-26</h3>
    <ul>
      <li>added graphical bar for voting results</li>
      <li>added new Russian translation</li>
      <li>added BB-Code support for news</li>
      <li>added valid ISO 8601 dates</li>
      <li>improved search highliting</li>
      <li>improved category selection</li>
      <li>improved BB-Code editor</li>
      <li>improved performance</li>
      <li>improved PDF export with images</li>
      <li>updated English translation</li>
      <li>fixed some multibyte problems</li>
      <li>fixed some PHP5 problems</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.3.8"></a>phpMyFAQ 1.3.8 - 2003-10-23</h3>
    <ul>
      <li>added support fo MySQL 4.0 full text search</li>
      <li>added Latvian translation</li>
      <li>improved performance in admin backend</li>
      <li>improved install script</li>
      <li>fixed Italian translation</li>
      <li>fixed IE only bug in backup function</li>
      <li>fixed many bugs in baxckup function</li>
      <li>fixed cookie problems</li>
      <li>fixed bug in BB-Code parser</li>
      <li>fixed some translations</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.3.7"></a>phpMyFAQ 1.3.7 - 2003-09-19</h3>
    <ul>
      <li>dedicated to Johnny Cash</li>
      <li>added patch against Versign</li>
      <li>improved BB-Code parser</li>
      <li>fixed some minor layout problems</li>
      <li>fixed Windows-only bug in send2friend function</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.3.6"></a>phpMyFAQ 1.3.6 - 2003-09-01</h3>
    <ul>
      <li>fixed serious bug in install script</li>
    </ul>

    <h3><a id="1.3.5"></a>phpMyFAQ 1.3.5 - 2003-08-31</h3>
    <ul>
      <li>added internal linking of FAQ records</li>
      <li>added RSS feed exports with cronjob</li>
      <li>improved BB-Code parser</li>
      <li>updated English translation</li>
      <li>fixed some PDF problems</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.3.4"></a>phpMyFAQ 1.3.4 - 2003-08-03</h3>
    <ul>
      <li>added new BB-Code parser</li>
      <li>added Italian translation</li>
      <li>improved search highlighting</li>
      <li>updated French and Dutch translation</li>
      <li>fixed some translations</li>
      <li>fixed bug in install script</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.3.3"></a>phpMyFAQ 1.3.3 - 2003-06-27</h3>
    <ul>
      <li>added IP bans</li>
      <li>added Portuguese translation</li>
      <li>added Spanish translation</li>
      <li>added enable/disable comments function</li>
      <li>added copyright and URL in printing view and PDF exports</li>
      <li>improved installation (testing default language and password)</li>
      <li>improved PDF export with image support</li>
      <li>improved user management</li>
      <li>removed default password</li>
      <li>switched default language from German to English</li>
      <li>renamed backup files to phpmyfaq.&lt;datum&gt;.sql instead of attachment.php</li>
      <li>fixed installation bug with MySQL 4.0</li>
      <li>fixed bug when deleting a news record</li>
      <li>fixed a bug when deleting comments</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.3.2"></a>phpMyFAQ 1.3.2 - 2003-05-26</h3>
    <ul>
      <li>added new category sort function</li>
      <li>added Polish translation</li>
      <li>added reload for votings</li>
      <li>added translation for BB-Code help</li>
      <li>improved navigation</li>
      <li>improved update script</li>
      <li>fixed bug in backup script</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.3.1"></a>phpMyFAQ 1.3.1 - 2003-05-02</h3>
    <ul>
      <li>added FAQ record preview</li>
      <li>added RSS feeds for Top10, news and latest records</li>
      <li>added system information in admin backend</li>
      <li>added French translation</li>
      <li>improved navigation in admin backend</li>
      <li>fixed bug in session search</li>
      <li>fixed some bugs when creating new FAQ records</li>
      <li>fixed some cookie problems</li>
      <li>fixed wrong link at send2friend function</li>
      <li>fixed delimiter bug in Apache2 and PHP 4.3</li>
      <li>fixed many bugs</li>
    </ul>

    <h3><a id="1.3.0"></a>phpMyFAQ 1.3.0 - 2003-04-17</h3>
    <ul>
      <li>added support for multilingualism</li>
      <li>added database abstraction layer</li>
      <li>added PDF support</li>
      <li>added BB-Code editor</li>
      <li>added more BB-Codes</li>
      <li>added PHP syntax highlighting</li>
      <li>added English documentation</li>
      <li>added encryption of passwords</li>
      <li>improved security</li>
      <li>improved admin backend</li>
      <li>improved XML support with XML namespaces and XML scheme</li>
      <li>fixed many bugs</li>
    </ul>

    <h2>phpMyFAQ 1.2.x</h2>

    <h3><a id="1.2.5b"></a>phpMyFAQ 1.2.5b - 2003-03-24</h3>
    <ul>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.2.5a"></a>phpMyFAQ 1.2.5a - 2003-03-04</h3>
    <ul>
      <li>fixed bug in BB-Code parser</li>
      <li>fixed bug in display of Top10</li>
      <li>fixed some minor bugs</li>
    </ul>

    <h3><a id="1.2.5"></a>phpMyFAQ 1.2.5 - 2003-02-02</h3>
    <ul>
      <li>fixed some serious bugs</li>
    </ul>

    <h3><a id="1.2.4"></a>phpMyFAQ 1.2.4 - 2003-01-31</h3>
    <ul>
      <li>improved variable checks</li>
      <li>improved printing functions</li>
      <li>fixed some bugs in admin backend</li>
    </ul>

    <h3><a id="1.2.3"></a>phpMyFAQ 1.2.3 - 2002-11-30</h3>
    <ul>
      <li>added check if installation or update script are deleted</li>
      <li>added automatic content negotiation in admin backend</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.2.2"></a>phpMyFAQ 1.2.2 - 2002-11-04</h3>
    <ul>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.2.1"></a>phpMyFAQ 1.2.1 - 2002-10-23</h3>
    <ul>
      <li>improved update script</li>
      <li>improved language selection</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.2.0"></a>phpMyFAQ 1.2.0 - 2002-10-09</h3>
    <ul>
      <li>phpMyFAQ is now Open Source</li>
      <li>added template engine for own layouts</li>
      <li>fully compatible for PHP 4.1, PHP 4.2 and PHP 4.3 (register_globals=off)</li>
      <li>color and font definitions based on CSS</li>
      <li>improved SQL queries</li>
      <li>improved search engine</li>
      <li>improved send2friend function</li>
      <li>improved display of categories</li>
      <li>improved installation script</li>
      <li>many bugfixes</li>
    </ul>

    <h2>phpMyFAQ 1.1.x</h2>

    <h3><a id="1.1.5"></a>phpMyFAQ 1.1.5 - 2002-06-23</h3>
    <ul>
      <li>added Russian translation</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.1.4"></a>phpMyFAQ 1.1.4a - 2002-06-08</h3>
    <ul>
      <li>fixed some bugs for PHP 4.1.0</li>
    </ul>

    <h3><a id="1.1.4"></a>phpMyFAQ 1.1.4 - 2002-05-24</h3>
    <ul>
      <li>added possibilty to disable voting</li>
      <li>bigger code cleanup</li>
      <li>changed CSS file from style.php to style.css</li>
      <li>improved HTML code</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.1.3"></a>phpMyFAQ 1.1.3 - 2002-05-01</h3>
    <ul>
      <li>fixed bug in BB-Code parser</li>
      <li>fixed bug in display of comments</li>
      <li>code cleanup</li>
    </ul>

    <h3><a id="1.1.2"></a>phpMyFAQ 1.1.2 - 2002-03-22</h3>
    <ul>
      <li>added send2friend function</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.1.1"></a>phpMyFAQ 1.1.1 - 2002-03-06</h3>
    <ul>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="1.1.0"></a>phpMyFAQ 1.1.0 - 2002-02-11</h3>
    <ul>
      <li>improved attachments</li>
      <li>added sub-categories</li>
      <li>added possibility to disable user-tracking and adminlogging</li>
      <li>ported to PHP4</li>
      <li>code cleanup</li>
      <li>improved installation script</li>
      <li>admin backend works now in Netscape 4.x</li>
      <li>improved error handling</li>
      <li>improved adminlogging</li>
      <li>improved documentation</li>
      <li>removed possibility to delete admin account</li>
      <li>fixed many bugs</li>
    </ul>

    <h2>phpMyFAQ 1.0.x</h2>

    <h3><a id="1.0.1"></a>phpMyFAQ 1.0.1a - 2001-10-15</h3>
    <ul>
      <li>changed file extensions from .php3 to .php</li>
    </ul>

    <h3><a id="1.0.1"></a>phpMyFAQ 1.0.1 - 2001-10-10</h3>
    <ul>
      <li>fixed some bugs in installation and update scripts</li>
    </ul>

    <h3><a id="1.0.0"></a>phpMyFAQ 1.0.0 - 2001-09-30</h3>
    <ul>
      <li>fixed some bugs</li>
    </ul>

    <h2>phpMyFAQ 0.x</h2>

    <h3><a id="0.95"></a>phpMyFAQ 0.95 - 2001-09-11</h3>
    <ul>
      <li>clean up of MySQL table names</li>
      <li>added documentation</li>
      <li>frontend is HTML 4.0 valid</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="0.90"></a>phpMyFAQ 0.90 - 2001-08-23</h3>
    <ul>
      <li>added update script</li>
      <li>added possibility to answer open questions</li>
      <li>configurable admin backend design</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="0.87"></a>phpMyFAQ 0.87 - 2001-07-20</h3>
    <ul>
      <li>added possibility to disable Top10 and latest records</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="0.86"></a>phpMyFAQ 0.86 - 2001-07-10</h3>
    <ul>
      <li>fixed BB-Code parser fixed</li>
      <li>added option to select HTML or BB-Code</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="0.85"></a>phpMyFAQ 0.85 - 2001-07-08</h3>
    <ul>
      <li>added backup function (backup and restore)</li>
      <li>added BB-Code support</li>
      <li>added XML export</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="0.80"></a>phpMyFAQ 0.80a - 2001-06-07</h3>
    <ul>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="0.80"></a>phpMyFAQ 0.80 - 2001-05-30</h3>
    <ul>
      <li>added frontend to ask questions</li>
      <li>added display of latest FAQ records</li>
      <li>added attachments for FAQ records</li>
      <li>added improved FAQ record administration</li>
      <li>added configuration frontend</li>
      <li>added display of number of users online</li>
      <li>added printer-optimized view</li>
      <li>improved comment functions</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="0.70"></a>phpMyFAQ 0.70 - 2001-04-27</h3>
    <ul>
      <li>added installation script</li>
      <li>improved authorization in the admin backend</li>
      <li>configurable layout</li>
      <li>added English translation</li>
      <li>fixed a bug when deleting comments</li>
    </ul>

    <h3><a id="0.666"></a>phpMyFAQ 0.666 - 2001-04-10</h3>
    <ul>
      <li>added category administration</li>
      <li>added voting function</li>
      <li>added possibility to delete comments in the admin backend</li>
      <li>fixed some bugs</li>
    </ul>

    <h3><a id="0.65"></a>phpMyFAQ 0.65 - 2001-03-18</h3>
    <ul>
      <li>added comment function</li>
      <li>added news administration</li>
      <li>improved search function</li>
    </ul>

    <h3><a id="0.60"></a>phpMyFAQ 0.60 - 2001-02-22</h3>
    <ul>
      <li>First public release: <strong>http://stratofaq.ig4.de</strong></li>
    </ul>

    <h3><a id="0.1"></a>phpMyFAQ 0.1 - 2001-02-12</h3>
    <ul>
      <li>Start of the phpMyFAQ project, originally written by Thorsten Rinne and Bastian Pöttner</li>
    </ul>

  </div>
</section>

{{> footer ~}}

{{> scripts ~}}