---
title: Open Source FAQ software
description: phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ web app for PHP 8
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="promo offset-header">
  <div class="container text-center">
    <h2 class="title">phpMy<span class="highlight">FAQ</span> 4.0</h2>

    <p class="intro">
      phpMyFAQ is a mobile-friendly, feature-rich, scalable open source FAQ web app for PHP 8.2+
    </p>

    <div class="btns">
      <a class="btn btn-cta-secondary" href="http://demo.phpmyfaq.de/">Demo</a>
      <a class="btn btn-cta-primary" href="{{site.domain}}/download">Download</a>
    </div>
    <p class="love-phpmyfaq">
      We really think you will like this knowledge base script. Knowledge is free, and so is phpMyFAQ. Since 2001.
    </p>

    <ul class="meta list-inline">
      <li>
        <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
          View on GitHub
        </a>
      </li>
      <li>
        <a href="/documentation">
          Documentation
        </a>
      </li>
      <li>
        <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues">
          Issues on GitHub
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="news" class="news">
  <div class="container">
    <h2>
      <a id="latest-news"></a>
      Latest phpMyFAQ news
    </h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2025-07-06
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 4.0.9](/download), the "Brian Wilson" release.
This release fixes a lot of reported bugs, and we updated our third party dependencies.
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2025-06-01
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 4.1.0-alpha.2](/download),
the "Rick Derringer" release.
The second alpha release of phpMyFAQ 4.1.0 changes the PHP requirement to PHP 8.3 or later;
we also updated the code to use the latest PHP 8.3 features.
We added an administration view for orphaned FAQs, an image upload, and image manager in the Markdown editor, and
the possibility to enable/disable admin session counter.
We added an experimental support for OpenSearch and an Urdu translation.
The Spanish and Japanese translations have been updated.
We also migrated our unittests to PHPUnit 12.
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2025-05-10
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 4.0.8](/download), the "Val Kilmer" release.
This release fixes a lot of reported bugs, and we updated third party dependencies.
{{/markdown}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2025-03-24
* * *
The phpMyFAQ Team would like to announce the availability of [phpMyFAQ 4.0.7](/download), the "Eddie Jordan" release.
This release fixes all reported bugs, and we updated our third party dependencies.
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2025-02-23
* * *
The phpMyFAQ Team is pleased to announce [phpMyFAQ 4.0.6](/download), the "Horst Köhler" release.
This release updates the French translation, we fixed all reported bugs, and we updated third party dependencies.
{{/markdown}}
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
{{#markdown}}
### 2025-02-12
* * *
We’re excited to announce the release of [phpMyFAQ 4.1.0-alpha](/download), the "Marianne Faithfull" release.
This version introduces several important improvements for our 24th birthday.
You can now edit the robots.txt configuration. The administration backend now uses Symfony Routing.
A new code snippets plugin with syntax highlighting is available in the WYSIWYG editor.
We added a plugin administration backend. There is experimental support for PDO.
The online update feature has been improved. We migrated from TinyMCE to Jodit Editor, from JavaScript to TypeScript,
from Webpack to Vite v6 and from Jest to Vitest v3.
{{/markdown}}
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          Looking for older news? When take a look at our <a href="/news/">news archive</a>.
        </p>
        <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
        <div class="text-center" style="font-size: 10px; margin-top: 20px;">
          SPONSORED BY
          <br>
          <!-- 2025-07-16 - XXX -->
          Alle <a target="_blank" href="https://www.grenzenloscasino.com/casinos-ohne-limit/casinos-ohne-oasis/">Online Casinos ohne Oasis Sperrdatei</a>
          auf Grenzenlos Casino sind seriös, verifiziert und für Deutsche Spieler geeignet.
          <br>
          <!-- 2025-09-18 -->
          <a target="_blank" href="https://vape.se/">Vape</a>
          <br>
          <!-- 2025-07-26 - XXX -->
          <a target="_blank" href="https://kasinokolikkopelit.com/nettikasinot">suosituimmat kasinot</a>
          <br>
          <!-- 2025-10-03 -->
          <a target="_blank" href="http://phonebillcasino.co.uk/">Phonebillcasino.co.uk</a> specialise in all aspects of
          mobile billing, this includes being able to
          <a target="_blank" href="https://phonebillcasino.co.uk/bet-mobile-phone-credit-sites/">bet using phone bill at online bookmakers</a>.
          <br>
          Play the latest
          <a target="_blank" href="http://mobilebingobonuses.co.uk">mobilebingobonuses.co.uk</a>
          at some of the best casino sites in the UK
          <br>
          <!-- 2026-04-21 -->
          Find the best online casinos, <a target="_blank" href="https://www.kasinohai.com/parhaat-nettikasinot">parhaat
          nettikasinot</a> in Finnish, on Kasinohai
          <br>
          <!-- 2025-12-31 -->
          <a target="_blank" href="https://www.sportgokken.eu/beste-goksites-nederland/">Goksites Nederland</a>
          <br>
          <!-- 2025-12-31 -->
          Holen Sie sich eine Liste mit dem besten <a target="_blank" href="https://casino-bonus.com/de/">Casino Bonus</a>
          ohne Einzahlung bei Casino Bonus Deutschland.
          <br>
          Looking for an online casino? Then we recommend comparing the best online casinos by visiting
          <a target="_blank" href="https://casinoonline.casino/">Casino Online</a>. They have the most updated list of
          trusted sites.
          <br>
          <!-- 2026-02-27 -->
          Lista di <a target="_blank" href="https://www.papasangre.com/">casinò non AAMS</a> che accettano giocatori italiani.
          <br>
          <!-- 2025-12-11 -->
          For the best in-play and cash out betting sites online, visit
          <a target="_blank" href="https://cashoutbettingsites.co.uk/">cashoutbettingsites.co.uk</a>
          <br>
          <!-- 2026-01-05 -->
          Get essential insights and expert tips before playing in
          <a href="https://www.bogdancazino.ro/">casino online Romania</a>
          <br>
          <!-- 2025-12-11 -->
          Für ein optimales Spielerlebnis in Casinos
          <a target="_blank" href="https://neue-casinos24.com/casino-ohne-oasis">ohne OASIS Sperrdatei</a>
          sorgt Neuecasinos24 durch die neuesten Casino Vergleiche.
          <br>
          Schnelle und sichere Zahlungen auch in Online Spielotheken mit
          <a target="_blank" href="https://de.handycasinos24.com/zahlungsmethoden/jeton">Jeton Cash Casino</a>
          Lösungen. Handycasinos24.com für weitere Infos.
          <br>
          <a target="_blank" href="https://casinozonderregistratie.net/casino-zonder-cruks/">casinozonderregistratie.net's forum over no Cruks casino's</a>
          <br>
          <a target="_blank" href="https://nieuwe-casinos.net/casino-reviews">casino recensies</a>
          <br>
          <!-- 2026-01-02 -->
          At uusimmatkasinot.com you will find the best new online casinos,
          <a target="_blank" href="https://uusimmatkasinot.com/">uudet nettikasinot</a>, in all imaginable categories
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

{{> footer ~}}

{{> scripts ~}}